@import "compass/css3/transition";


/*Smartphones (portrait and landscape) ----------- */
/*@media only screen
and (min-width : 320px)
and (max-width : 480px) {

}*/

/* Smartphones (portrait) ----------- */
//@media only screen and (max-device-width: 480px) {
/* Styles */
//$slide-width: 350px;
//$slide-height: 500px;

slides > slide {
/*  width: $slide-width !important;
  height: $slide-height !important;
  margin-left: -$slide-width / 2 !important;
  margin-top: -$slide-height / 2 !important;
*/
  // Don't do full slide transitions on mobile.
  -webkit-transition: none !important; // Bug in compass? Not sure why the below is not working
  @include transition(none !important);
}

//}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
